= form_tag({}, { :multipart => true }) do
  %p
    = file_field_tag 'images[]', :multiple => true, :class => 'upload_images'
    = submit_tag 'Upload'
  %p
    = check_box_tag 'generate_thumbnails', 1, true, :id => 'generate_thumbnails'
    = label_tag 'generate_thumbnails', 'Generate thumbnails'

%ul{ :class => 'upload_list thumbs_list' }
  %li.add_photos_button.thumb
    .image
      = image_tag('add-photos-button.png')
    .title
      Add photos
